<!-- <app-input-search></app-input-search> -->
<span class="title">Cloud Resources</span>

<div class="cardfamily" (click)="viewAWS = !viewAWS">AWS</div>
<div class="cardgroup" *ngIf="viewAWS">
  <ng-container
    *ngFor="let res of VisualResources.get(providerType.AWS); let i = index"
  >
    <div class="card" (click)="addComponent(res)">
      <span>{{ res.Titile }}</span>
      <img class="listIcon" src="{{ res.iconSrc }}" title="{{ res.Titile }}" />
    </div>
  </ng-container>
</div>

<div class="cardfamily" (click)="viewGCP = !viewGCP">GCP</div>
<div class="cardgroup" *ngIf="viewGCP">
  <ng-container
    *ngFor="let res of VisualResources.get(providerType.GCP); let i = index"
  >
    <div class="card" (click)="addComponent(res)">
      <span>{{ res.Titile }}</span>
      <img class="listIcon" src="{{ res.iconSrc }}" title="{{ res.Titile }}" />
    </div>
  </ng-container>
</div>

<div *ngIf="false" class="cardfamily" (click)="viewOnPremise = !viewOnPremise">
  Self Hosted
</div>
<div class="cardgroup" *ngIf="viewOnPremise">
  <ng-container
    *ngFor="let res of VisualResources.get(providerType.GCP); let i = index"
  >
    <div class="card" (click)="addComponent(res)">
      <span>{{ res.Titile }}</span>
      <img class="listIcon" src="{{ res.iconSrc }}" title="{{ res.Titile }}" />
    </div>
  </ng-container>
</div>
