.card {

  color: #ffffff;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#e90000 0.5px, #424242 0.5px);
  background-size: 10px 10px;
  margin: 10px;
  padding: 10px 10px;
  border-radius: 5px;
}
