<app-input-search></app-input-search>
<div class="card" (click)="addComponent('Lambda')">Lambda Function</div>
<div class="card" (click)="addComponent('Database')">Database</div>
<div class="card" (click)="addComponent('EC2')">EC2</div>
<div class="card" (click)="addComponent('S3 Bucket')">S3 Bucket</div>
<div class="card" (click)="addComponent('SQS')">SQS</div>
<div class="card" (click)="addComponent('LoadBalancer')">LoadBalancer</div>
<div class="card" (click)="addComponent('App Gateway')">App Gateway</div>
