<div
  [ngStyle]="cardStyle"
  class="TypicalCard"
  [ngClass]="{
    rectangle: isRec(),
    group: isGroup(),
  }"
  cdkDragBoundary=".right"
  [cdkDragFreeDragPosition]="item.position"
  (cdkDragEnded)="dragEnd($event)"
  (cdkDragMoved)="dragMove($event)"
  cdkDrag
  resizeObserver
  (resize)="onResize($event)"
  [style.width.px]="item.shape.width"
  [style.height.px]="item.shape.height"
>
  <div class="inner"></div>
  <div
    class="status"
    [ngClass]="{
      deployed: resourceStatus(ResourceStatus.Deployed),
      errored: resourceStatus(ResourceStatus.Errored),
    }"
  ></div>
  <div *ngIf="item.deploying" class="loader"></div>
  <div
    #firstButtonRef
    class="cir firstButton"
    (mouseenter)="handleMouseEnter($event, firstButtonRef)"
    (mouseleave)="handleMouseLeave()"
  >
    <fa-icon class="fa" [icon]="faCircle" />
  </div>
  <input
    #box
    class="name"
    type="text"
    value="{{ item.title }}"
    (focusout)="onEnter(box.value)"
    placeholder="{{ item.title }}"
  />
  <img
    class="listIcon"
    src="{{ item.iconSrc }}"
    title="{{ item.name }}"
    cdkDragHandle
  />
  <div (click)="trashShit()"><fa-icon class="i1" [icon]="faTrash" /></div>
  <div (click)="openConfigPopup()"><fa-icon class="i2" [icon]="faGear" /></div>
  <div
    #buttonRef
    class="cir secondButton"
    (mousedown)="handleMouseDown($event, buttonRef)"
  >
    <fa-icon class="fa" [icon]="faCircle" />
  </div>
</div>
