:host {
  .TypicalCard {
    top: 0px;
    left: 0px;
    z-index: 100;
    position: absolute;
    opacity: 0.9;
    background-image: radial-gradient(#ffffff 0.3px, #ffffff 0.5px);
    display: flex;
    border: 0.05px solid rgb(79, 79, 79, 0.5);
    padding: 10px;
    max-width: 400px;
    max-height: 200px;
    min-width: 60px;
    min-height: 40px;
    margin: 1px;
    border-radius: 5px;
    text-justify: auto;
    justify-content: center;
    opacity: 0.95;

    overflow: hidden;

    &:hover {
      z-index: 1000;
      background-image: radial-gradient(#ffffff 0.3px, #f0cece 0.5px);
      animation-name: bounce;
      opacity: 1;

      fa-icon {
        visibility: visible;
      }

      button {
        visibility: visible;
      }
    }

    /* HTML: <div class="loader"></div> */
    .loader {
      position: absolute;
      right: 5px;
      top: 8px;

      width: 14px;
      aspect-ratio: 1;
      display: grid;
    }
    .loader::before,
    .loader::after {
      content: "";
      grid-area: 1/1;
      --c: no-repeat radial-gradient(farthest-side, #e453c0 92%, #0000);
      background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
        var(--c) 0 50%;
      background-size: 3px 3px;
      animation: l12 1s infinite;
    }
    .loader::before {
      margin: 4px;
      filter: hue-rotate(45deg);
      background-size: 1.5px 1.5px;
      animation-timing-function: linear;
    }

    @keyframes l12 {
      100% {
        transform: rotate(0.5turn);
      }
    }

    display: inline-block;

    &.group {
      z-index: 0;
      max-width: 4000px;
      min-width: 500px;

      max-height: 4000px;
      min-height: 400px;
      opacity: 0.8;

      background-image: radial-gradient(#ffffff00 0.3px, #e2e2e299 0.5px);
      border: 1.9px dashed rgba(83, 53, 53, 0.39);
      border-radius: 3px;

      &:hover {
        background-image: radial-gradient(#ffffff 0.3px, #f0cecece 0.5px);
      }

      button {
        visibility: hidden;
      }

      .name {
        left: 34px;
        top: 8px;
      }
      resize: both;
    }

    &.rectangle {
      z-index: 1;
      max-width: 3000px;
      min-width: 100px;

      max-height: 3000px;
      min-height: 100px;
      opacity: 0.8;

      background-image: radial-gradient(#ffffff00 0.3px, #c6d0c499 0.5px);
      border: 1.9px dashed rgba(83, 53, 53, 0.39);
      border-radius: 3px;

      &:hover {
        background-image: radial-gradient(#ffffff 0.3px, #f0cecece 0.5px);
      }

      button {
        visibility: hidden;
      }

      .name {
        left: 34px;
        top: 13px;
      }
    }

    .listIcon {
      position: absolute;
      left: 7px;
      top: 6px;
      max-width: 20px;
      max-height: 20px;
      border-radius: 4px;
      border-color: rgba(255, 255, 255, 0.654);
      border-width: 0.5px;
      border-style: solid;
      background-color: rgba(255, 255, 255, 0.654);

      &:hover {
        cursor: grab;
      }
    }

    .name {
      font-weight: bolder;
      font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
      position: absolute;
      left: 8px;
      top: 40px;
      color: #264653;
      background-color: rgba(0, 0, 0, 0);
      opacity: 0.8;
      border: 0px;
      width: 110px;
      font-size: x-small;

      &:focus {
        outline: none;
        border-bottom: 1px;
        border: 1px black;
      }
    }

    .status {
      background-color: rgba(77, 77, 77, 0.641);
      border-bottom-left-radius: 10px;
      display: block;
      width: 30px;
      height: 5px;
      position: absolute;
      right: -5px;
      top: -2px;
      overflow: visible;

      &.errored {
        background-color: rgba(255, 0, 0, 0.8);
      }

      &.deployed {
        background-color: rgba(15, 148, 44, 0.8);
      }
    }

    button {
      position: absolute;
      z-index: 10000;
      border-radius: 4px;
      border: none;
      background-color: rgba(24, 20, 20, 0.429);
      transition: 0.2s;
      top: 42%;
      width: 8px;
      height: 8px;
      visibility: hidden;

      &.firstButton {
        left: -7px;
      }

      &.secondButton {
        right: -7px;
      }

      &:hover {
        background-color: rgba(255, 0, 166, 0.799);
        width: 14px;
        border-radius: 10px;
      }

      &:disabled:hover {
        background-color: rgb(255, 255, 255);
      }
    }

    fa-icon {
      max-width: 8px;
      max-height: 8px;
      position: absolute;
      top: 6px;
      opacity: 0.5;
      visibility: hidden;

      &:hover {
        opacity: 0.8;
      }

      &.i1 {
        right: 30px;
      }

      &.i2 {
        right: 50px;
      }
    }
  }
}
