<div class="container">
  <h2 class="header">
    {{ getResourceName().replace("_", " ") + " CONFIGURATION  " }}
  </h2>
  <div class="inputform">
    <app-resource-config-fields
      class="subform"
      [config]="config"
      [edit]="edit"
      [currentOutput]="currentOutput"
      (configUpdateEvent)="UpdateResourceConfig($event)"
    >
    </app-resource-config-fields>
  </div>
  <div class="side-bar">
    <div (click)="view != 0 && view == 1 ? (view = 0) : (view = 1)">
      <fa-icon class="i1" [icon]="faRelated" />
    </div>
    <div
      (click)="view != 0 && view == 2 ? (view = 0) : (view = 2)"
      *ngIf="lastError != ''"
    >
      <fa-icon style="color: red" [icon]="faError" />
    </div>
  </div>
  <div *ngIf="view == 1 && getRelatedResources()" class="related-res">
    <span class="s-h">Related Resources</span>
    <div class="sub-rel-res">
      <ng-container
        *ngFor="let rel_res of getRelatedResources(); let i = index"
      >
        <span *ngIf="rel_res == -1"> </span>
        <span *ngIf="rel_res != -1" (click)="onclick(rel_res)">{{
          getResourceString(rel_res)[0]
        }}</span>
      </ng-container>
    </div>
  </div>

  <div *ngIf="view == 2" class="related-res">
    <span class="s-h">Last Deploy Result</span>
    <div class="sub-rel-res"><span [innerHTML]="lastError"></span></div>
  </div>

  <div class="apply" (click)="submit()">Save</div>
  <div class="close">
    <span><fa-icon [icon]="faClose" (click)="closeModal()"></fa-icon></span>
  </div>
</div>
