:host {
  padding: 10px;
  padding-left: 20px;
  font-weight: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(207, 207, 207, 0.3) rgba(255, 255, 255, 0);
  scroll-behavior: smooth;

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(207, 207, 207, 0.3);
    border-radius: 20px;
    border: 3px solid rgba(255, 166, 0, 0);
  }

  .container {
    position: relative;
    min-width: 85vw;
    min-height: 90vh;
    max-width: 85vw;
    max-height: 90vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 50px;
    border-radius: 10px;
    font-size: smaller;
    overflow: visible;

    .header {
      margin-top: 2rem;
      margin-left: 2rem;
      font-weight: 500;
      color: #000000c4;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: x-large;
      align-self: center;
      text-decoration: underline;
    }

    .inputform {
      padding-left: 2rem;
      margin-left: 2rem;
      padding-right: 20rem;
      min-height: 65vh;
      max-height: 65vh;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;

      overflow: scroll;
      padding-bottom: 7rem;
    }

    .subform {
      height: 80%;
      padding-bottom: 10rem;
    }

    .side-bar {
      right: 2.5%;
      top: 8%;
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-evenly;
      align-items: center;
      text-align: start;
      padding: 7px;
      max-height: 75%;
      min-width: 20px;
      max-width: 20px;
      box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1),
        0px 0px 3px 0 rgba(0, 0, 0, 0.1);
      background-color: #f9f8f8c2;

      fa-icon {
        &:hover {
          color: #9d2163c4;
        }
      }
    }

    .related-res {
      right: 5.5%;
      top: 8%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: start;
      padding: 10px;
      padding-top: 15px;
      border-radius: 4px;
      max-height: 75%;
      min-width: 180px;
      max-width: 35vw;
      box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1),
        0px 0px 3px 0 rgba(0, 0, 0, 0.1);
      background-color: #f9f8f8c2;

      .s-h {
        font-size: medium;
        margin-bottom: 15px;
      }

      .sub-rel-res {
        overflow-y: scroll;
        white-space: pre-wrap;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 15px;
        padding-top: 0px;
        gap: 7px;
        font-size: smaller;
        word-break: break-all;

        .rel-res-field {
          &:hover {
            cursor: pointer;
            color: #9d2163c4;
          }
        }
      }
    }

    .apply {
      right: 4%;
      bottom: 4%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 4px;
      max-height: 40px;
      min-height: 25px;
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      background-image: radial-gradient(#000000 0.2px, #85da3f 0.2px);
      color: #0c600c;
      font-size: small;
      font-weight: 600;
      font-family: sans-serif;
      -webkit-box-shadow: 3px 3px 10px 3px #bce8bc;
      -moz-box-shadow: 3px 3px 10px 3px #bce8bc;
      box-shadow: 2px 2px 10px 2px #bce8bc;

      &:hover {
        cursor: pointer;
        background-image: radial-gradient(#000000 0.2px, #5b972a 0.2px);
        color: #1fe71f;
      }
    }

    .outputBox {
      display: flex;
      direction: row;
      justify-content: flex-start;
      padding: 3px;
      position: relative;
    }

    .outlabel {
      min-width: 18em;
      max-width: 18em;
      word-break: break-all;
      font-weight: 600;
    }

    .outvalue {
      margin-left: 10px;
    }

    .close {
      position: absolute;
      padding: 6px 10px 6px 10px;
      top: -12px;
      right: -12px;
      background-color: rgba(245, 238, 238, 0.785);
      border-radius: 100%;
      aspect-ratio: 2;

      &:hover {
        cursor: pointer;
        background-image: radial-gradient(#000000 0.2px, #5b972a 0.2px);
        color: #1fe71f;
      }
    }
  }
}
