:host {
  padding: 10px;
  padding-left: 20px;
  font-weight: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  .container {
    position: relative;
    min-width: 77rem;
    min-height: 55rem;
    max-width: 77rem;
    max-height: 55rem;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 50px;
    border-radius: 10px;
    font-size: smaller;
    overflow: visible;
    scrollbar-width: none;

    .header {
      margin-top: 2rem;
      margin-left: 2rem;
      font-weight: 800;
      color: #60045786;
      font-size: large;
      align-self: center;
    }

    .inputform {
      padding-top: 2rem;
      padding-left: 2rem;

      margin-left: 2rem;
      max-width: 91%;
      max-height: 48rem;
      min-height: 38rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: scroll;
      padding-bottom: 8rem;
      scroll-behavior: smooth;
      scrollbar-width: none;
      box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1),
        0px -9px 7px -12px rgba(0, 0, 0, 0.1);
    }

    .subform {
      height: 100%;
      padding-bottom: 3rem;
      margin-left: 2rem;
      overflow: scroll;
      scrollbar-width: none;
    }

    .apply {
      right: 4%;
      bottom: 4%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 4px;
      max-height: 50px;
      min-height: 50px;
      min-width: 100px;
      max-width: 100px;
      text-align: center;
      background-image: radial-gradient(#000000 0.2px, #85da3f 0.2px);
      color: #0c600c;
      font-size: small;
      font-weight: 600;
      font-family: sans-serif;
      -webkit-box-shadow: 3px 3px 10px 3px #bce8bc;
      -moz-box-shadow: 3px 3px 10px 3px #bce8bc;
      box-shadow: 2px 2px 10px 2px #bce8bc;

      &:hover {
        cursor: pointer;
        background-image: radial-gradient(#000000 0.2px, #5b972a 0.2px);
        color: #1fe71f;
      }
    }

    .outputBox {
      border: 1px solid rgba(211, 247, 211, 0.375);
      padding: 5px;
      margin: 5px;
      position: relative;
      border-radius: 2%;
    }

    .outlabel {
      color: #ffffff;
      font-size: small;
      position: relative;
      font-weight: bolder;
    }

    .outvalue {
      margin-top: 3px;
      color: #f7e2e2;
      font-size: 12px;
      position: relative;
    }

    .close {
      position: absolute;
      padding: 6px 10px 6px 10px;
      top: -12px;
      right: -12px;
      background-color: rgba(245, 238, 238, 0.785);
      border-radius: 100%;
      aspect-ratio: 2;

      &:hover {
        cursor: pointer;
        background-image: radial-gradient(#000000 0.2px, #5b972a 0.2px);
        color: #1fe71f;
      }
    }
  }
}
