<div class="container">
  <h2 class="header">{{ getResourceName() }}</h2>
  <div class="inputform">
    <app-resource-config-fields
      class="subform"
      [config]="config"
      (configUpdateEvent)="UpdateResourceConfig($event)"
    >
    </app-resource-config-fields>
  </div>
  <div class="apply" (click)="submit()">Save</div>
  <br />
  <br />
  <h2 class="header" *ngIf="currentOutput?.length">Stack Output</h2>
  <div class="outputBox" *ngFor="let item of currentOutput">
    <label class="outlabel">{{ item.name }} :</label>
    <div class="outvalue">
      <span>{{ item.value }}</span>
    </div>
  </div>
  <div class="close">
    <span><fa-icon [icon]="faClose" (click)="closeModal()"></fa-icon></span>
  </div>
</div>
