<ng-container>
  <h2 class="header"> Config Editor</h2>
  <br>
  <div *ngFor="let item of config | keyvalue">
    <div [ngSwitch]="item.value.type">
      <div *ngSwitchCase="inputType.String">
        <span>{{item.key}}</span>
        <br>
        <input #box type="text" placeholder="{{item.value.val}}" value="{{item.value.val}}"
          (focusout)="addToMap(item.key, box.value, item.value.type)">
        <br><br>
      </div>
      <div *ngSwitchCase="inputType.Number">
        <span>{{item.key}}</span>
        <br>
        <input #box type="number" placeholder="{{item.value.val}}" value="{{item.value.val}}"
          (focusout)="addToMap(item.key, box.value, item.value.type)">
        <br><br>
      </div>
      <div *ngSwitchCase="inputType.File">
        <span>{{item.key}}</span>
        <br>
        <input #box type="file" id="input" placeholder="{{item.value.val}}" value="{{item.value.val}}"
          (focusout)="addToMap(item.key, box.value, item.value.type)">
        <br><br>
      </div>
      <div *ngSwitchCase="inputType.CheckBox">
        <span>{{item.key}}</span>
        <input #box type="checkbox" id="checkbox" value="{{item.value.val}}" placeholder="{{item.value.val}}"
          value="{{item.value.val}}" (focusout)="addToMap(item.key, box.value, item.value.type)">
        <br><br>
      </div>
      <div *ngSwitchCase="inputType.DropDown">
        <app-select></app-select>
      </div>
    </div>
  </div>
  <div class="apply" (click)="submit()">Save</div>
  <br>
  <br>
  <h2 class="header" *ngIf="currentOutput?.length">Stack Output</h2>
  <div class="outputBox" *ngFor="let item of currentOutput">
    <label class="outlabel">{{item.name}} :</label>
    <div class="outvalue">
      <span>{{item.value}}</span>
    </div>
  </div>

</ng-container>
