.configuration {
  padding: 10px;
  padding-right: 17px;
  fa-icon {
    font-size: 24px;
  }

  &:hover {
    transform: rotate(25deg);
    transition: 200ms ease-in-out 200ms;
    padding-top: 11px;
  }
}
