.add-title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
}
.add {
  position: relative;
  padding: 1px 4px 1px 4px;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  left: -20px;
  fa-icon {
    color: #264653;
  }

  &:hover {
    color: rgba(0, 190, 6, 0.875);
  }
}

.close {
  position: relative;
  padding: 1px 4px 1px 4px;
  align-items: center;
  align-content: center;
  color: #264653;
  text-align: center;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;

  left: 1.6em;
  top: -0.6em;
  margin-right: 10px;
  aspect-ratio: 1;

  &:hover {
    color: rgb(0, 0, 0);
  }
}

.sub-input-object {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 7px;

  border-radius: 3px;
  padding: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 13em;
  overflow: unset;

  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5px;
  margin-right: 5px;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffffd5;
  color: #264653;
}

.sub-entry-object {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 2px;

  border-radius: 3px;
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 13em;

  overflow: unset;

  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffffd5;
  color: #264653;

  .entry {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    min-width: 13em;
    font-size: small;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;

    left: -20px;
  }

  fa-icon {
    font-size: small;
    color: #264653e0;
    &:hover {
      color: rgb(0, 0, 0);
    }
  }
}
