<div class="container">
  <div class="sub-content">
    <div class="header">Help And Resources</div>

    <div class="sub-heading">Actions & Keyboard Shortcuts</div>
    <div class="usr-in">
      <div class="span"><span>Command Palette:</span></div>
      <div class="span"><span>⌘⇧P</span></div>
    </div>

    <div class="usr-in">
      <div class="span"><span>Select Card:</span></div>
      <div class="span"><span>Mouse Click</span></div>
    </div>

    <div class="usr-in">
      <div class="span"><span>Select More Cards:</span></div>
      <div class="span"><span>⇧ + Mouse Click</span></div>
    </div>

    <div class="usr-in">
      <div class="span"><span>Mutiple Select:</span></div>
      <div class="span"><span>Mouse Click + Drag</span></div>
    </div>

    <div class="sub-heading">Supported Cloud Resources</div>
    <div class="usr-in">
      <div class="span"><span> - Google Cloud Platform</span></div>
    </div>
    <div class="usr-in">
      <div class="span"><span> - Amazon Web Services</span></div>
    </div>
    <div class="usr-in">
      <div>
        <span
          >We make use of <a href="https://www.pulumi.com">Pulumi</a> to deploy
          and manage cloud resource.</span
        >
        <br />
        <span
          >Work is in progress to improve UI/UX and support more cloud
          resources.</span
        >
      </div>
    </div>

    <div class="sub-heading">Contribute to Project</div>
    <div class="usr-in">
      <div>
        <span
          >If you find this project interesting, please contribute or drop a
          star at
          <a href="https://Github.com/DesignPlain">Github.com/DesignPlain</a
          >.</span
        >
      </div>
    </div>
  </div>
</div>
