:host {
  display: block;
  overflow: auto;
  min-width: 100%;
  min-height: 100%;
  position: relative;

  top: auto;
  left: auto;
  margin: 0px;
  height: 10000px;
  width: 10000px;

  .canvas {
  }

  background-image: linear-gradient(
      #d6d4d4d0 2.8000000000000003px,
      transparent 2.8000000000000003px
    ),
    linear-gradient(
      90deg,
      #d6d4d4d0 2.8000000000000003px,
      transparent 2.8000000000000003px
    ),
    linear-gradient(
      #d6d4d4d0 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    linear-gradient(
      90deg,
      #d6d4d4d0 1.4000000000000001px,
      #e5e5f7d0 1.4000000000000001px
    );
  background-size: 70px 70px, 70px 70px, 14px 14px, 14px 14px;
  background-position: -2.8000000000000003px -2.8000000000000003px,
    -2.8000000000000003px -2.8000000000000003px,
    -1.4000000000000001px -1.4000000000000001px,
    -1.4000000000000001px -1.4000000000000001px;

  canvas {
    position: absolute;
    z-index: -10;
  }

  .configuration {
    position: absolute;
    top: 0;
    right: 0;
    zoom: 1;
  }
}

.box {
  min-width: 99%;
  min-height: 90%;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.98;
  background-image: radial-gradient(#ffffff 0.4px, #dce0dc 0.4px);
  margin: 5px;
  margin-top: 23px;
  padding: 10px;
  position: absolute;

  &.preview {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
}

.controls {
  left: 0%;
  position: fixed;
  width: 70%;
  left: 30%;
  z-index: 1000;
  zoom: 1;

  .apply {
    left: 40%;
    position: relative;
    margin: 10px;
    padding: 7px;
    border-radius: 4px;
    max-height: 30px;
    min-height: 15px;
    min-width: 50px;
    max-width: 80px;
    text-align: center;
    background-image: radial-gradient(#000000 0.2px, #85da3f 0.2px);
    color: #0c600c;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 3px 3px rgba(60, 116, 58, 0.363);

    &:hover {
      cursor: pointer;
      background-image: radial-gradient(#000000 0.2px, #5b972a 0.2px);
      color: #1fe71f;
    }
  }
}

.side-bar {
  right: 10px;
  top: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  padding: 10px;
  max-height: 75%;
  min-width: 20px;
  max-width: 20px;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(50deg, #d0b0b0dd 50%, #cfabccd4 100%);
  border-radius: 2px;

  fa-icon {
    &:hover {
      color: #ffffff;
    }
  }

  z-index: 997;
}

.side-bar-bottom {
  right: 10px;
  bottom: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-height: 75%;
  min-width: 20px;
  max-width: 20px;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(50deg, #d0b0b0dd 50%, #cfabccd4 100%);
  border-radius: 2px;

  font-size: larger;

  fa-icon {
    &:hover {
      color: #ffffff;
    }
  }

  z-index: 997;
}

.related-res {
  right: 55px;
  top: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  padding: 7px;
  padding-top: 15px;
  border-radius: 3px;
  max-height: 95.5%;
  min-height: 95.5%;
  min-width: 260px;
  max-width: 260px;
  background: -webkit-linear-gradient(50deg, #d0b0b0dd 50%, #e2c1d2f6 100%);
  z-index: 997;

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.125) rgba(255, 255, 255, 0);
  scroll-behavior: smooth;

  .s-h {
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .sub-rel-res {
    width: 90%;
    overflow-y: scroll;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7px;
    padding-left: 19px;
    gap: 10px;
    font-size: smaller;
    word-break: break-all;

    .rel-res-field {
      color: #000000;
      position: relative;
      opacity: 0.9;
      gap: 5px;
      background: #00000047;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      font-weight: bold;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: smaller;
      background-size: 10px 10px;
      padding: 10px 10px 10px 10px;
      border-radius: 3px;
      min-width: 90%;
      max-width: 90%;
      vertical-align: auto;

      .tempicon {
        margin-right: 7px;
        font-size: medium;
      }

      .listIcon {
        position: absolute;
        right: -6px;
        top: -6px;
        max-width: 20px;
        max-height: 20px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0);
      }

      .remove {
        position: absolute;
        right: 6px;
        bottom: 6px;
        color: rgba(0, 0, 0, 0.645);

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      .template-name {
        font-size: 12px;
      }

      .template-desc {
        font-weight: 200;
        font-size: smaller;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
      }

      &:hover {
        cursor: pointer;
        background: linear-gradient(
          0deg,
          #ecffc184 0%,
          #ecffc184 50%,
          #ecffc184 100%
        );
      }
    }
  }
}

// menu css

hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.12);
}

.example-menu {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;
}

.example-menu-item {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.product-watermark {
  right: 5px;
  bottom: 5px;
  position: fixed;
  font-size: large;
  font-weight: 500;
  font-family: Geneva, Verdana, sans-serif;
  padding: 5px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.2);
  //background-color: rgba(255, 255, 255, 0.3);
}

.selected-div {
  border-radius: 4px;
  z-index: 993;
  &:hover {
    cursor: move;
  }

  .inner {
    position: absolute;
    border-radius: 4px;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
  }

  fa-icon {
    max-width: 8px;
    max-height: 8px;
    position: absolute;
    font-size: large;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &.i1 {
      right: -14px;
      top: 0px;
    }

    &.i2 {
      right: 8px;
      top: -26px;
    }
    &.i3 {
      right: 28px;
      top: -26px;
    }
  }
}
