:host {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 7px;
    max-width: 620px;
    min-width: 620px;
    max-height: 650px;
    position: relative;
    color: #264653;
    font-size: small;
    padding: 2px;
    background-color: rgba(255, 252, 253, 0.885);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.12) 0px 0px 5px 0px, rgba(0, 0, 0, 0.12) 0px 0px 5px 0px;
  }
  .container {
    display: flex;
    width: 96%;
    margin-top: 2px;
    max-height: 30px;
    padding: 10px;
    border-radius: 2px;
    justify-content: space-between;
    border: 0.5px solid transparent;
    outline: none;
    overflow: hidden;
    border-color: #88888891;
    transition: all 0.1s;
    color: rgba(80, 79, 79, 0.771);
    border: 1px solid #ef77a7e1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.12) 0px 0px 5px 0px, rgba(0, 0, 0, 0.12) 0px 0px 5px 0px;

    &:hover,
    &:focus {
      border: 1px solid #ef77a7e1;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 0px 5px 0px, rgba(0, 0, 0, 0.12) 0px 0px 5px 0px;

      transition: all 250ms linear;
    }

    .input {
      cursor: text;
      //margin-right: 10rem;
      border: 0.5px solid transparent;
      width: 16em;
      height: 1.5em;
      outline: none;
      overflow: scroll;
      border-color: #a3a2a2;
      border-radius: 3px;
      border-width: 0.5px;
      transition: all 0.1s;
      margin-left: 50px;

      &:hover,
      &:focus {
        border: 0.5px solid #4a9dec;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.12) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.12) 0px 0px 5px 0px;
      }
    }
  }
  .option-container {
    z-index: 1000;
    min-width: 605px;
    max-width: 605px;
    max-height: 595px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 0 0 5px 5px;
    padding: 5px;
    margin-bottom: 7px;
    margin-top: 3px;
    .option {
      cursor: pointer;
      padding: 5px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-bottom: 0.5px solid #00000038;
      &:last-child {
        border-bottom: unset;
      }
      &:hover {
        padding-left: 10px;
        border-radius: 0 0 1px 1px;
        background-color: #eb95c24f;
      }

      .listIcon {
        max-width: 18px;
        max-height: 18px;
        margin-left: 10px;
        vertical-align: middle;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0);

        &:hover {
          cursor: grab;
        }
      }
    }
  }
}
