<div class="container">
  <div class="menu">
    <span class="menu-head">Settings Menu</span>
    <div>
      <div class="menu-item" (click)="toggleMenu()">
        Configure Access Credentials
      </div>
      <div class="sub-menu" *ngIf="toggleCred">
        <div class="menu-item" (click)="toggleProvider = provType.AWS">AWS</div>
        <!-- <div class="menu-item" (click)="toggleProvider = provType.AZURE">
          AZURE
        </div> -->
        <div class="menu-item" (click)="toggleProvider = provType.GCP">GCP</div>
      </div>
    </div>
    <!-- <div class="menu-item">General Settings</div> -->
  </div>
  <div class="content">
    <div class="sub-content">
      <div *ngIf="toggleProvider == provType.AWS">
        <div class="header">AWS Configuration</div>
        <br />

        <div class="usr-in">
          <div class="span"><span>AWS Access Key Id:</span></div>
          <input
            #box1
            class="input"
            type="text"
            value="{{ aws_KeyId }}"
            placeholder="Enter Access Key Id"
            (change)="aws_KeyId = box1.value"
          />
        </div>
        <br />
        <div class="usr-in">
          <div class="span"><span>AWS Secret Access Key:</span></div>
          <input
            #box2
            class="input"
            type="text"
            value="{{ aws_Secretkey }}"
            placeholder="Enter Secret Access Key"
            (change)="aws_Secretkey = box2.value"
          />
        </div>
        <div class="setup-link">
          <span>
            Follow the steps provided
            <a
              href="https://www.pulumi.com/registry/packages/aws/installation-configuration/#credentials"
              >here</a
            >
            to get the AWS credentials.
          </span>
        </div>
      </div>

      <div *ngIf="toggleProvider == provType.AZURE">
        <div class="header">AZURE Configuration</div>
        <br />
      </div>

      <div *ngIf="toggleProvider == provType.GCP">
        <div class="header">GCP Configuration</div>
        <br />

        <div class="usr-in">
          <div class="span"><span>Project Name:</span></div>
          <input
            #box3
            class="input"
            type="text"
            value="{{ projectName }}"
            placeholder="Enter Project Name"
            (change)="projectName = box3.value"
          />
        </div>
        <br />
        <div class="usr-in">
          <div class="span"><span>API Key File:</span></div>
          <div>
            <label for="formFile" class="fileUp btn btn-info"
              >Select File</label
            >
            <input
              (change)="this.onFilechange($event)"
              class="form-control"
              type="file"
              id="formFile"
              style="display: none"
            />
          </div>
          <div class="fname">
            <span>{{ fileName }}</span>
          </div>
        </div>

        <div class="setup-link">
          <span>
            Follow the steps provided
            <a
              href="https://www.pulumi.com/registry/packages/gcp/service-account"
              >here</a
            >
            to get the GCP credentials.
          </span>
        </div>
      </div>
    </div>
    <div (click)="this.upload()" class="apply">Save</div>
  </div>
  <button class="close interactive-close-btn" (click)="closeModal()"></button>
</div>
